$bg-header: rgb(155, 196, 189);
$bg-navegacion:  rgb(203, 236, 235);
$bg-navegacion-hover: rgb(78, 137, 135);

$bg-main: rgb(242, 249, 251);
$bg-main-caja1-proceso: rgb(207, 220, 223);
$main-h2: #384e50;
$bg-main-servicio-caja: #c0e1e3;

$font-general: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-color-concreto: #384c50;

@mixin flex-valores{
    display: flex;
    flex-direction: column;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------ESTILOS GENERALES------*/


body{
    font-family: $font-general;
    }

header{
    background-color: $bg-header;
    display: flex;
    
    
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
}


h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    
}

/*----------NAVEGACIÓN-------*/

nav ul{
    display: flex;
    gap: 12px;
}

nav ul li{
    list-style: none;
    text-align: center;
    background-color: $bg-navegacion;
    padding: 10px;
    border-radius: 10px; 

    
  display: flex;
  align-items: center;    
  
}

nav ul li:hover{
       background-color: $bg-navegacion-hover;
    /* color: white; */
}

nav ul li a{
text-decoration: none;
/* color: rgb(0, 0, 0) */
}

.navbar-toggler {
  margin-bottom: 15px;
}



/* ----------MAIN----------*/

main{
    background-color: $bg-main;
    padding: 20px;
    
}

.proceso-section, .recibis-section{

    /* Visual */
    background-color: $bg-main-caja1-proceso;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;

    /* Box model */
    height: 30vh;
    padding: 10px;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.plan-section ul {
    list-style-position: inside;
    padding: 0;
    margin: 10px 0 0 0;
}
.metodo-section{
    text-align: center;
}

.metodo-section h2 {
    font-family: 'Times New Roman', Times, serif;
    color: $main-h2;
    font-size: 35px;
    margin: 16px;
}

.metodo-section h3{
    margin: 16px auto;
}

.metodo-section img {

    width: 100%;    max-width: 900px;

}

.servicio-section{
    /* visual */
   background-color: $bg-main-servicio-caja;
   text-align: center;
   border-radius: 10px;
   border: 5px double;
   list-style-position: inside;

   /* box model */
    max-width: 900px;
   width: 90%;
   padding: 20px;
   margin: 30px auto;
}

.servicio-section ol {
    list-style: none;
    color: $font-color-concreto;
    font-size: 20px;
    list-style-position: inside;
    padding: 0;
    margin: 10px 0 0 0;
}


.plan-section h3{
    text-align: center;
    font-size: 1.4rem;

    letter-spacing: 0.5px;
    color: $font-color-concreto;

    margin-bottom: 0.8rem;
}

.plan-section ul{
    list-style: none;
    text-align: center;
    line-height: 1.8;
    
}

.contendor-img-pesarusa{
    width: 100%;
    height: 100%;
}
   
.contendor-img-pesarusa img{
  width: 100%;
  max-width: 900px; 
  display: block;
  margin: 30px auto;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.plan-section {
    margin: 16px;
    padding: 20px;
}



div img{
    width: 400px;
}

.empezar{
    background-color: rgb(220, 236, 245);
}


/*------------FOOTER--------*/

footer{
    /* visual */
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: rgb(58, 78, 84);
   color: white;
   text-align: center;

   /*box model*/
   padding: 20px;

}

.lista-footer{
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 10px 0 0 0;
}

.footer-creditos{
    color: #ffffff;
    text-align: center;
    padding: 14px;
    font-size: 12px;
  
}

/*----------"SOBRE MÍ"---------*/

@import "sobre-mi";


/*----------"EMPEZAR" formulario HTML-------*/

@import "empezar";

/*------------ PLANES -----------*/

@import "planes";

/*--------- RESULTADOS -------*/

@import "resultados";

/*-------- MEDIAQUERIE sobre mí*/

@media (max-width: 520px){

.grid-bloques {
  grid-template-columns: 1fr;
}

.bloque-habitos{
    grid-column: auto
}

/*------- planes ------*/

.seguimiento{
    flex-direction: column;
}

/*--------- empezar -------*/

.checkbox-fr{
    display: flex;
    flex-direction: column;
}

/*------- resultados ------*/
.contenedor-cards {
        flex-direction: column;
        align-items: center;
        padding: 10px;
}

.card-testimonio{
    width: 100%;
    max-width: 340px;
}

.card-testimonio img{
    height: 200px;
}

}