@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;



footer {
  background-color: $footer-bg;
  color: $footer-text;
  padding: 40px 20px 0 20px;
}

.contenedor-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.footer-section h4 {
  color: $footer-text;
  margin-bottom: 10px;
}

.lista-footer {
  list-style: none;
  padding: 0;
}

.lista-footer li {
  margin: 6px 0;
}

.lista-footer a {
  color: $footer-accent;
  text-decoration: none;
  transition: 0.3s;
}

.lista-footer a:hover {
  color: $footer-text;
}

.footer-section p {
  color: $footer-accent;
}

.footer-creditos {
  border-top: 1px solid $footer-border;
  margin-top: 30px;
  padding: 15px;
  font-size: 13px;
  color: $footer-accent;
}