@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;



footer{
   background-color: $bg-footer;
   color: $color-tipografia;
   text-align: center;
   padding: 20px;
}


footer .lista-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    @include marg-padg(10px 0 0 0, 0);
}

.footer-creditos {
    color: #ffffff;
    text-align: center;
    padding: 14px;
    font-size: 12px;
}

.lista-footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}