$bg-header: #122C4F;
$bg-mi-header: linear-gradient(90deg, #01161e, #124559);
$mi-header-h1: #eff6e0;
$bg-nav: #E6EEF8;
$bg-nav-hover: #131f30;


$bg-main-visual: #eff6e0;
$color-proceso-section: #124559;
$color-h2: #384e50;
$bg-servicio-section: #eff6e0;
$color-h3: #124559;
$bg-body: #eff6e0;
            
$footer-bg: #01161e;
$footer-text: #eff6e0;
$footer-accent: #598392;
$footer-border: #124559;
$bg-footer: rgb(58, 78, 84);
$color-tipografia: white;
$font-family-footer: Georgia, 'Times New Roman', Times, serif;

$bg-cajas: #f5f9fa; 


$color-h2: #2c3e3e;
$color-texto-tomas-nieto: #799899;
$color-texto:  #444;
$bg-card-enfoque: linear-gradient( 90.8deg,  rgb(16, 30, 39) 2.2%, rgb(110, 153, 180) 84% );

$bg-card-palabrapersonal: #f8fafc; 
$color-palabra: #1e2a38; 
$accent-palabra: #124559; 
$accent-soft: #dbe7f3; 


$bg-boton: #005cbf;
$color-boton: #fff;
$color-border-boton: #2d00bf;
$color-shadow-boton: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$font-family-resultados-h2: Arial, Helvetica, sans-serif;
$color-h2-testimonios: #2c3e3e;
$bg-card-testimonios: #f5f5f5;
$shadow-card-testimonios: 0 8px 20px rgba(0, 0, 0, 0.8);
$font-h3-testimonios: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$color-font-h3-testimonios: #243e5c;
$color-p-testimonios: #403e3e;
$bg-card-mentalidad: #2a7c6f;
$color-font-mentalidad: white;


$h1-general: Verdana, Geneva, Tahoma, sans-serif;
$font-family-h2: 'Times New Roman', Times, serif;            
$font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
