@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


.resultados-alumnos h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #124559;

    text-align: center;
    margin-bottom: 30px;
    position: relative;

    letter-spacing: 0.5px;
}

.contenedor-cards {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card-testimonio {
    width: 340px;
    background-color: $bg-card-testimonios;
    border-radius: 16px;

    padding: 20px 16px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;

    border: 1px solid rgba(0,0,0,0.05);

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;

        border-radius: 12px;
        margin-bottom: 15px;
    }

    h3 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: $font-h3-testimonios;
        color: $color-font-h3-testimonios;
        margin-bottom: 10px;
    }

    p {
        font-size: 13px;
        line-height: 1.6;
        padding: 15px 20px;
        font-style: italic;
        position: relative;
        color: $color-p-testimonios;

        &::before {
            content: "“";
            font-size: 2rem;
            color: #2f5d8c;
            opacity: 0.2;
            position: absolute;
            left: -5px;
            top: -10px;
        }
    }
}


.mentalidad-d {
    background-color: $bg-card-mentalidad;
    color: $color-font-mentalidad;
    text-align: center;

    @include marg-padg(50px auto, 50px 20px);

    border-radius: 12px;
    max-width: 900px;

    animation: aparecerCard 5.5s ease-out forwards;

    &:hover {
        background-color: #0f4231;
        color: rgb(167, 255, 218);
        box-shadow: 3px 3px 5px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
}


@keyframes aparecerCard {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 520px) {

    .contenedor-cards {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .card-testimonio {
        width: 100%;
        max-width: 340px;

        img {
            height: 200px;
        }
    }
}