@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


/*----------"SOBRE MÍ"---------*/


.sobre-mi-main{
    padding: 60px 20px;
}

.sobre-mi_h2{
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: $color-h2;

}

.sobre-mi_h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background: #799899;
    display: block;
    margin: 12px auto 0;
    border-radius: 2px;
}

.sobre-mi-texto p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #444;
    max-width: 650px;
    margin: 0 auto;
  text-align: center;
}

.sobre-mi-texto p strong {
    color: $color-texto-tomas-nieto;
}

nav ul{
    display: flex;
    gap: 12px; 
}

.sobre-mi figcaption{
    font-size: 16px;
    text-align: center;
    margin: 16px;
}

.sobre-mi figcaption p{
    font-size: 1.1rem;
  line-height: 1.7;
  color: $color-texto;
  max-width: 600px;
}

.como-trabajo{
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
}

.trabajo-img img{
  width: 100%;
  max-width: 900px;

@include block-valores;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.trabajo-img figcaption{
    text-align: center;
     @include marg-padg(18px, 16px);
    border-radius: 10px;
}



.como-trabajo-parrafo{
@include medidas-sobremi-cards;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.card-enfoque{
@include medidas-sobremi-cards;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);

    background: #a6a1ff;
background: $bg-card-enfoque;
}


.mi-enfoque {
    text-align: center;
    Color: #222;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 700;
}

.enfoque-lista {
    text-align: center;
    list-style: none;
    font-size: 1rem;
    color: #1a1820;
    margin-bottom: 16px;
    list-style-position: inside;
    padding: 0;
    margin: 10px 0 0 0;
}

.palabra-personal{
    background-color: $bg-card-palabrapersonal;
    text-align: center;
    @include marg-padg(16px, 16px);
    border-radius: 10px;
}



/*-----------GRID----------*/

.especialidades {
 @include marg-padg(10px 5px, 20px 20px);
  background-color: #f2f2f2;
  border-radius: 16px;
}

.grid-bloques {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/*---MOVILIDAD---*/

.bloque-movilidad {
    background-color: #cfe3e4;
    border-radius: 12px;
    padding: 16px;
}

.bloque-movilidad:hover{
    transform: translate(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12); 
}

/*---RESISTENCIA---*/

.bloque-resistencia {
    background-color: #cfe3e4;
    border-radius: 12px;
    padding: 16px;
}

.bloque-resistencia:hover{
    transform: translate(-6px);
     box-shadow: 0 8px 18px rgba(0,0,0,0.12); 
}

/*---FUERZA---*/

.bloque-fuerza {
    background-color: #cfe3e4;
    border-radius: 12px;
    padding: 16px;
}

.bloque-fuerza:hover{
    transform: translate(-6px);
     box-shadow: 0 8px 18px rgba(0,0,0,0.12); 
}


/*---HABITOS---*/

.bloque-habitos{
    background-color: #cfe3e4;
    grid-column: 1 / 4;
    border-radius: 12px;
    padding: 16px;

}

.bloque-habitos:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.12); 
}


@media (max-width: 520px){

.grid-bloques {
  grid-template-columns: 1fr;
}

.bloque-habitos{
    grid-column: auto
}

.card-enfoque{
       max-width: 340px;
}
}